//
// Theme style
//

// Initialize
@import "init";

// Components
@import "./core/components/components";
@import "components/components";

// Layout
@import "./core/layout/base/layout";
@import "layout/layout";


$bt-primary-dark :#335E90;
$bt-light-blue  :#E7F4FC;


$bt-red-text :#D61600;
$bt-red-background : #FFCCC6;

.bt-red {
	color :$bt-red-text!important;
	background-color : $bt-red-background!important;
}

.bt-blue-dark {
	color : white!important;
	background-color:  $bt-primary-dark!important;
}

.bt-blue-light { 
	color : $bt-primary-dark!important;
	background-color: $bt-light-blue!important ;
}